<section class="mb-4">
    <h2 class="h1-responsive font-weight-bold text-center my-4">ABOUT US</h2>
    <p class="text-center w-responsive mx-auto mb-5">Festifavs is your ultimate tool for the festival season in Belgium
        and the Netherlands. Search our database and save your favorite festivals.</p>
    <hr>
    <h3 class="h1-responsive font-weight-bold text-center my-4">MEET OUR TEAM</h3>
    <div class="row">
        <div class="col left justify-center-content text-center">
            <img class="img-fluid rounded-circle" src="/assets/img/britt.jpg" alt="Britt" /><br>Britt<br>
            <a href="https://www.linkedin.com/in/britt-v-367557111/" target="_blank"><i class="fab fa-linkedin"
                    aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/xbrittd/" target="_blank"><i class="fab fa-instagram"
                    aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/xBrittt" target="_blank"><i class="fab fa-facebook"
                    aria-hidden="true"></i></a>
        </div>
        <div class="col justify-center-content text-center">
            <img class="img-fluid rounded-circle" src="/assets/img/marjolijn.jpg" alt="Marjolijn" /><br>Marjolijn<br>
            <a href="https://www.linkedin.com/in/marjolijn-knops-527486174/" target="_blank"><i class="fab fa-linkedin"
                    aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/marjellyween/" target="_blank"><i class="fab fa-instagram"
                    aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/MarJellyween" target="_blank"><i class="fab fa-facebook"
                    aria-hidden="true"></i></a>
        </div>
        <div class="col right justify-center-content text-center">
            <img class="img-fluid rounded-circle" src="/assets/img/ward.jpg" alt="Ward" /><br>Ward<br>
            <a href="https://www.linkedin.com/in/ward-bollen-44228217b/" target="_blank"><i class="fab fa-linkedin"
                    aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/wrdtjb/" target="_blank"><i class="fab fa-instagram"
                    aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/ward.bollen" target="_blank"><i class="fab fa-facebook"
                    aria-hidden="true"></i></a>
        </div>
        <div class="row">
            <div class="justify-content-right">
                <h2>Britt</h2>
                (21) is afkomstig van Bakel in de buurt van Eindhoven, volgde een vorming interieuradviseur en werkt
                momenteel in een woonwinkel. Na een reis van vijf maanden besloot ze een andere richting te kiezen.
                Vorig jaar studeerde ze met succes af als grafisch vormgever bij Syntra. Om zich te kunnen onderscheiden
                wil Britt daar graag full stack development aan toevoegen, zodat ze de twee kan combineren. Zij hoopt op
                die manier binnenkort een job te vinden waar ze helemaal op haar plek zit.
            </div>
            <hr>
            <div class="justify-content-right text-right">
                <h2>Marjolijn</h2>
                (29) is opgegroeid in Heusden-Zolder en woont sinds 2 jaar in Hamont. Zij is al 8 jaar aan de slag als
                sorteerster bij wasserij Mireille in Heusden. Na een grote operatie begin 2018 heeft ze
                loopbaanonderbreking
                genomen en haar passie voor game design teruggevonden. Vorig jaar heeft ze bij Syntra dan ook de
                opleiding
                game app designer succesvol beëindigd. Als full stack developer wil ze meer bijleren over software en
                web
                development. Zo hoopt ze op een job waar ze met veel plezier de rest van haar carrière kan aan bouwen.
            </div>
            <hr>
            <div class="justify-content-left">
                <h2>Ward</h2>
                (39) is afkomstig van Dilsen-Stokkem en beschikt over een bachelor communicatiebeheer. Als
                websitebeheerder
                en nieuwsredacteur bij Golazo Media in Beringen heeft hij 15 jaar ervaring met verschillende Content
                Management Systemen zoals WordPress. Daardoor is zijn interesse voor IT gegroeid en behaalde hij vorig
                jaar
                zijn diploma als netwerkbeheerder bij Syntra. Door hier ook de kennis van full stack developer aan toe
                te
                voegen hoopt hij net op tijd over meer mogelijkheden te beschikken om een andere weg in te slaan.
            </div>
        </div>
    </div>
</section>