<section class="mb-4">
    <h2 class="h1-responsive font-weight-bold text-center my-4">About us!</h2>
    <p class="text-center w-responsive mx-auto mb-5">Festifavs is your ultimate tool for the festival season in Belgium and the Netherlands. Search our database and save your favorite festivals.</p>
    <h3 class="h1-responsive font-weight-bold text-center my-4">Our team</h3>
    <div class="row">
        <div class="col left">
            <img class="img-fluid rounded-circle" src="/assets/img/britt.jpg" alt="Britt" /><br>Britt<br>
            <a href="https://www.linkedin.com/in/britt-v-367557111/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/xBrittt" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/xbrittd/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="col">
            <img class="img-fluid rounded-circle" src="/assets/img/marjolijn.jpg" alt="Marjolijn" /><br>Marjolijn<br>
            <a href="https://www.linkedin.com/in/marjolijn-knops-527486174/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/MarJellyween" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/marjellyween/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="col right">
            <img class="img-fluid rounded-circle" src="/assets/img/ward.jpg" alt="Ward" /><br>Ward<br>
            <a href="https://www.linkedin.com/in/ward-bollen-44228217b/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/ward.bollen" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/wrdtjb/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
    </div>
</section>