<section class="mb-4">
    <h2 class="h1-responsive font-weight-bold text-center my-4">ABOUT US</h2>
    <p class="text-center w-responsive mx-auto mb-5">Festifavs is your ultimate tool for the festival season in Belgium
        and the Netherlands. Search our database and save your favorite festivals.</p>
    <hr>
    <h3 class="h1-responsive font-weight-bold text-center my-4">MEET OUR TEAM</h3>
    <div class="row">
        <div class="col left justify-center-content text-center">
            <img class="img-fluid rounded-circle" src="/assets/img/britt.jpg" alt="Britt" /><br>Britt<br>
            <a href="https://www.linkedin.com/in/britt-v-367557111/" target="_blank"><i class="fab fa-linkedin"
                    aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/xbrittd/" target="_blank"><i class="fab fa-instagram"
                    aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/xBrittt" target="_blank"><i class="fab fa-facebook"
                    aria-hidden="true"></i></a>
        </div>
        <div class="col justify-center-content text-center">
            <img class="img-fluid rounded-circle" src="/assets/img/marjolijn.jpg" alt="Marjolijn" /><br>Marjolijn<br>
            <a href="https://www.linkedin.com/in/marjolijn-knops-527486174/" target="_blank"><i class="fab fa-linkedin"
                    aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/marjellyween/" target="_blank"><i class="fab fa-instagram"
                    aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/MarJellyween" target="_blank"><i class="fab fa-facebook"
                    aria-hidden="true"></i></a>
        </div>
        <div class="col right justify-center-content text-center">
            <img class="img-fluid rounded-circle" src="/assets/img/ward.jpg" alt="Ward" /><br>Ward<br>
            <a href="https://www.linkedin.com/in/ward-bollen-44228217b/" target="_blank"><i class="fab fa-linkedin"
                    aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/wrdtjb/" target="_blank"><i class="fab fa-instagram"
                    aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/ward.bollen" target="_blank"><i class="fab fa-facebook"
                    aria-hidden="true"></i></a>
        </div>
        <div class="row">
            <div class="justify-content-right">
                <h2>BRITT</h2>
                (21) is from Bakel, which is close to Eindhoven in the Netherlands. She has a degree in interior design
                and is currently working in a furniture store. After going on a trip abroad for five months, she decided
                to choose a different direction. Last year she got a degree as a graphic designer at Syntra. She then
                decided to start studying full stack development. That way she can combine the two, so she will stand
                out.
            </div>
            <hr>
            <div class="justify-content-right text-right">
                <h2>MARJOLIJN</h2>
                (29) grew up in Heusden-Zolder and has been living in Hamont for the past two years. She has been
                working as a sorter at Mireille in Heusden. After a big surgery at the beginning of 2018, she stopped
                working and refound her passion for game design. She got her degree when she finished a study for game
                app design. She now wishes to learn more about software and webdevelopment. That way she wants to build
                her way up to a successful career.
            </div>
            <hr>
            <div class="justify-content-left">
                <h2>WARD</h2>
                (39) is from Dilsen-Stokkem, Belgium and has a bachelor degree in communication management. As a website
                manager/operator and being a news editor at Golazo Media in Beringen, he has been working with a few
                different content management systems, like Wordpress, for over 15 years now. His interests in IT started
                to grow and last year he received his certificate because he successfully finished network management.
                He now hopes to learn more about full stack development, so that he will have more options in the work
                field.
            </div>
        </div>
    </div>
</section>