h2 {
	font-size: 50px;
	color: white;
	font-family: 'raleway';
	padding-top: 20px;
}

div {
	color:white;
	font-family: 'Quicksand', sans-serif;
	margin-bottom: 10px;
}

p {
	color: white;
	font-family: 'Quicksand';
	font-size: 15px;
	padding-bottom: 15px;
}

a {
	color: white;
	font-family: 'Quicksand';
	font-size: 15px;
}

.btn {
color: white;
background-color: #211A1D;
font-family: 'Quicksand';
margin: 10px;
}

.btn:hover {
	background-color: #5E6572;
}