div {
    font-family: 'Quicksand';
}

.copyright {
    color:#5E6572;
}

img {
    align-items: center;
}

.img1 {
    max-height: 150px;
}

#copyright {
    color: #5E6572;
    text-align: center;
}

#logo {
    display:flex;    
    align-items:center;
}

.nav-item {
padding: 10px;
margin-left: 60px;
font-size: 18px;
font-family: "Quicksand";
}

.navbar {
    border-radius:3px;
}

.navbar-center{
    /* position: absolute; */
    left: 50%;
    transform: translateX(-50%);
}