<!-- app.component.html -->
<div class="container">
  <h1>{{title}}</h1>
  <h3>{{subtitle}}</h3>
  <!-- <a routerLink="home">home</a>
  <a routerLink="festivals">festivals</a>
  <a routerLink="favorites">favorites</a>
  <a routerLink="about">about</a>
  <a routerLink="contact">contact</a> -->


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Favorite festivals selector</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-dark bg-dark navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-dark bg-dark">
        <a routerLink="home" class="nav-item nav-link">home</a>
        <a routerLink="festivals" class="nav-item nav-link">festivals</a>
        <a routerLink="favorites" class="nav-item nav-link">favorites</a>
        <a routerLink="about" class="nav-item nav-link">about</a>
        <a routerLink="contact" class="nav-item nav-link">contact</a>
        <a routerLink="login" class="nav-item nav-link">login</a>
       </div>

       
    </div>
  </nav>

  <router-outlet></router-outlet>
  <!-- footer-->
  <hr>
  <div class="text-center">Copyright Britt, Ward, Marjolijn inc. &copy; 2020</div>
</div>