<div class="col-sm-12 text-center">
    <img src="src/assets/img/home.jpg" alt="homepage image">
    <h1>Welcome!</h1>
    <p>Hi and welcome to FestiFavs. Here's where you can find all of your favorite festivals and add them to your list.
        Wanna know more about us?</p>
    <button type="button" id="hpbtn" routerLink="about" class="nav-item nav-link">Get to know us!</button>
    <hr>
    <h3>“Here's to the nights that turned into mornings, and the friends that turned into family."</h3>
    <hr>
</div>