#hpbtn {
border-radius: 2px;
background-color: #FFA69E;
color: white;
border-color: white;
margin: 4px;
padding: 7px;
}

#hp2 {
    background-color: lightgray;
}

h1 {
padding: 8px;
}

h3 {
    padding: 15px;
    font-family: "quicksand";

}

p {

}